---
layout: default
title: Publications
---
<h2>Papers</h2>

<ol class="publications-list" reversed>
    {% for paper in site.data.papers %}
        <li>
            <strong>{{ paper.title }}</strong>
            {% if paper.arxiv %}[<a href="{{ paper.arxiv }}">arXiv</a>]{% endif %}
        </li>
    {% endfor %}
</ol>

<h2>Conference Proceedings</h2>

<ol class="publications-list" reversed>
    {% for proceedings in site.data.proceedings %}
        <li>
            <strong>{{ proceedings.title }}</strong>{% if proceedings.hdl %} [<a href="{{ proceedings.hdl }}">Handle</a>]{% endif %}{% if proceedings.url %} [<a href="{{ proceedings.url }}">Link</a>]{% endif %}<br>
            <a href="{{ proceedings.eventurl }}">{{ proceedings.eventtitle }}</a>, {{ proceedings.place }}<br>
            {{ proceedings.proctitle }} {{ proceedings.volume }}, {{ proceedings.pages }}, {{ proceedings.date }}
        </li>
    {% endfor %}
</ol>