<ul class="menu-list">
    <li><a href="index.html">TOP</a></li>
    <li>CV (WIP)</li>
    <li><a href="publications.html">Publications</a></li>
    <li><a href="talks.html">Talks</a></li>
    <li><a href="links.html">Links</a></li>
</ul>
<hr>
<center>
    <!-- FC2カウンター ここから -->
    You are the<br>
    <script language="javascript" type="text/javascript" src="//counter1.fc2.com/counter.php?id=15656703&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=15656703&main=1" /></noscript>th visitor.
    <!-- FC2カウンター ここまで -->
    <br>
    <!-- FC2拍手タグここから -->
    <a href="//clap.fc2.com/post/k19okura/?url=https%3A%2F%2Fkoki-okura.github.io%2Findex.html&title=Koki+Okura%27s+Home+Page" target="_blank" title="web拍手 by FC2"><img src="//clap.fc2.com/images/button/white/k19okura?url=https%3A%2F%2Fkoki-okura.github.io%2Findex.html&amp;lang=ja" alt="web拍手 by FC2" style="border:none;" /></a>
    <!-- FC2拍手タグここまで -->
</center>