<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if page.title %}
      {% assign full_title = page.title | append: " - " | append: site.title %}
    {% else %}
      {% assign full_title = site.title %}
    {% endif %}
    <title>{{ full_title }}</title>
    <meta name="description" content="{{ site.description | escape }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ full_title | escape }}">
    <meta property="og:description" content="{{ site.description | escape }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:type" content="website">

    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">

    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <div class="site-header-bordered">
        <h1 class="site-title">Koki Okura's Home Page</h1>
    </div>
    
    <table class="layout-table" cellspacing="0">
        <tr>
            <td class="sidebar">
                {% include sidebar.html %}
            </td>

            <td class="main-content">
                {{ content }}
            </td>
        </tr>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var links = document.querySelectorAll("a[href^='http://'], a[href^='https://']");
            links.forEach(function(link) {
            if (link.hostname !== window.location.hostname) {
                link.setAttribute("target", "_blank");
                link.setAttribute("rel", "noopener noreferrer");
            }
            });
        });
    </script>
</body>
</html>
