<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="style.css">

    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <div class="site-header-bordered">
        <h1 class="site-title">Koki Okura's Home Page</h1>
    </div>
    
    <table class="layout-table" cellspacing="0">
        <tr>
            <td class="sidebar">
                {% include sidebar.html %}
            </td>

            <td class="main-content">
                {{ content }}
            </td>
        </tr>
    </table>
</body>
</html>